<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<form action="#"
      th:action="@{/process}"
      th:object="${pet}"
      method="post">
    <input type="hidden" th:field="*{id}" />

    Pet Name :<input type="text" th:field="*{petName}" />
    <span th:if ="${#fields.hasErrors('petName')}" th:errors="*{petName}"></span><br />

    Lost Date :<input type="text" th:field="*{dateLost}" />
    <span th:if="${#fields.hasErrors('dateLost')}"
          th:errors="*{dateLost}"></span><br />

    Description :<textarea rows="4" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br />
    Status:
    <input type="text" th:field="*{status}" />
    <span th:if="${#fields.hasErrors('status')}"
          th:errors="*{status}"></span><br />
    <br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>