<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">

<form action="#"
      th:action="@{/process}"
      th:object="${pet}"
      method="post"
enctype="multipart/form-data">

    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Pet Name : </label><br/>
        <input type="text" th:field="*{petName}" class="form-control" name="petName" />
        <span th:if ="${#fields.hasErrors('petName')}" th:errors="*{petName}"></span><br />
    </div>

    <div>
        <label>Lost Date :</label><br/>
        <input type="text" th:field="*{dateLost}" class="form-control" name="dateLost"/>
        <span th:if ="${#fields.hasErrors('dateLost')}" th:errors="*{dateLost}"></span><br />
    </div>


    <label>Description :</label><br/>
    <input type="text" th:field="*{description}" class="form-control" name="description"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br />
    <div>
        <label>Status :</label><br/>
        <input type="text" th:field="*{status}" class="form-control" name="status"/>
        <span th:if ="${#fields.hasErrors('status')}" th:errors="*{status}"></span><br />
    </div>

    <div>
        <label>Add  Image</label><br/>
        <input type="file" class="form-control" name="file"/>
    </div><br><br />
    <input type="submit" value="Submit" />
</form>
</div>
</body>
</html>