<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
    <style>
        center {
            margin: auto;
            width: 60%;
            border: 3px solid #73AD21;
            padding: 10px;
        }
    </style>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div sec:authorize="isAuthenticated()">
    <a href="/add"><b>Add a message</b></a><br />
</div>
    <table>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Content</h3>
                    <h3>Sent By</h3>
                    <h3>Date</h3>
                </div>
            </div>

    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.sentBy}"></td>
        <td th:text="${message.date}"></td>
        <td>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/edit/{id}(id=${message.id})}">Update</a>
            <a th:href="@{/details/{id}(id=${message.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
            </div>
            <div sec:authorize="hasAuthority('USER')">
                <a th:href="@{/edit/{id}(id=${message.id})}">Update</a>
                <a th:href="@{/details/{id}(id=${message.id})}">Details</a>
                <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
            </div>
        </td></tr>
        </div>
</table>
</body>
</html>