<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
    <style>
          center {
              margin: auto;
              width: 60%;
              border: 3px solid #73AD21;
              padding: 10px;
          }
          .jumbotron {
              background-color: #fff;
          }
    </style>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="jumbotron text-center">
    <h1>Welcome to Code Work Academy Messaging App</h1>
</div>
<div class="container">
<div sec:authorize="isAuthenticated()">
    <a href="/add"><b>Add a message</b></a><br />
</div>
    <table class="w3-table w3-bordered w3-striped w3-border">
        <th>Content</th>
        <th>Sent By</th>
        <th>Date</th>

    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.sentBy}"></td>
        <td th:text="${message.date}"></td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/edit/{id}(id=${message.id})}">Update</a>
            <a th:href="@{/details/{id}(id=${message.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
            </div>
            <span th:if="${user_id == message.user.id}">
                 <a th:href="@{/edit/{id}(id=${message.id})}">Update</a>
            </span>
            <a th:href="@{/details/{id}(id=${message.id})}">Details</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>