<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <h2 class="text-center">Login Page</h2>
    <div th:if="${param.error}">
        Invalid username or password
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>

    <form action="/action_page.php"
            th:action="@{/login}"
          method="post">
        <div>
            <label>User name:</label><br/>
            <input type="text" class="form-control" name="username"/>
        </div>
        <div>
            <label>Password:</label> <br/>
            <input type="password" class="form-control" name="password"/>
        </div>
        <br/>
        <div><input type="submit" value="Sign in"/></div>

    </form>
</div>
</body>
</html>