<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="w3-container">
    <div sec:authorize="isAuthenticated()">
        <a href="/"><b>Show All Messages</b></a><br />
    </div>
    <table class="w3-table w3-bordered w3-striped w3-border">
        <th>Pet Name</th>
        <th>Lost Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Image</th>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.petName}"></td>
            <td th:text="${pet.dateLost}"></td>
            <td th:text="${pet.description}"></td>
            <td th:text="${pet.status}">
                <button type="button" class="btn btn-success"></button>
            </td>
        <td>
            <img th:src="${pet.headshot}" />
        </td>
            <td>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/edit/{id}(id=${pet.id})}">Update</a>
                    <a th:href="@{/delete/{id}(id=${pet.id})}">Delete</a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>